html {
  font-family: sans-serif;
  background-color: #FFFFF0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  color: #FFFFF0;
  background-color: #14142B;
}

body {
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  margin: 0 auto;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#themetoggle {
  display: block;
  margin-right: 10px;
  margin-left: auto;
  background: none;
  border: 0;
}

.sun {
  fill: black;
}

.moon {
  fill: transparent;
}

.dark .sun {
  fill: transparent;
}

.dark .moon {
  fill: white;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #14142B;
}

.dark a {
  color: #FFFFF0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 0.2em 0.5em;
  margin: 0.3em;
  font-weight: bold;
  background-color: #fffff0;
  border: solid #14142b;
}

.dark .tag {
  background-color: #14142b;
  border: solid #fffff0;
}

.dark .tag a {
  color: #fffff0;
}

.dark .image-streetlamp {
  filter: invert(1);
}

.tag:hover,
.tag:focus {
  background-color: #f6c445;
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

footer a {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  background-color: #f6c445;
}

/* ナビゲーションのスタイル */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #f6c445;
}

.nav-links {
  top: 5rem;
  left: 48px;
  display: none;
  width: 100%;
  margin: 0;
  background-color: #f6c445;
}

.nav-links a {
  display: block;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #f6c445;
}

.dark .nav-links a {
  color: #FFFFF0;
}

.expanded {
  display: unset;
}

@media screen and (width >= 636px) {
  #themetoggle {
    margin-right: 100px;
  }

  .nav-links {
    position: static;
    display: block;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
