---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import imageStreetLamp from "../images/StreetLamp.png";
const pageTitle = "TOP";
---

<BaseLayout pageTitle={pageTitle}>
	<Image src={imageStreetLamp} alt="街灯の影絵" class="image-streetlamp" />
	<h2>趣味エンジニアの作業記録＆ポートフォリオ(現在開発中)</h2>
</BaseLayout>
