---

---

<div class="nav-links hidden md:block">
  <a
    class="block hover:bg-[#f6c445] focus:bg-[#f6c445] md:inline-block"
    href="/">TOP</a
  >
  <a
    class="block hover:bg-[#f6c445] focus:bg-[#f6c445] md:inline-block"
    href="/blog/">BLOG</a
  >
  <a
    class="block hover:bg-[#f6c445] focus:bg-[#f6c445] md:inline-block"
    href="/category/">CATEGORY</a
  >
  <a
    class="block hover:bg-[#f6c445] focus:bg-[#f6c445] md:inline-block"
    href="/tags/">TAGS</a
  >
  <a
    class="block hover:bg-[#f6c445] focus:bg-[#f6c445] md:inline-block"
    href="/rss.xml/"
    data-astro-reload>RSS</a
  >
</div>
